<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KING-PC\SQLEXPRESS;initial catalog=2019030066;persist security info=True;user id=sa;password=476051001;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="_2019030066.Properties.Settings._2019030066ConnectionString"
      connectionString="Data Source=KING-PC\SQLEXPRESS;Initial Catalog=2019030066;Persist Security Info=True;User ID=sa;Password=476051001"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>